<%- include('../layout/admin_header.ejs') %>

<div class="admin-tabs">
    
<div class="admin-tab">
    <a href="/admin/title">Add App title</a>
</div>

<div class="admin-tab">
    <a href="/admin/pages">Go To Pages</a>
</div>
<div class="admin-tab">
    <a href="/admin/carousel">Go To Carousel</a>
</div>
<div class="admin-tab">
    <a href="/admin/about_school">Go To Notes</a>
</div>
<div class="admin-tab">
    <a href="/admin/explore">Go To Explore</a>
</div>
<div class="admin-tab">
    <a href="/admin/news">Go To News</a>
</div>
<div class="admin-tab">
    <a href="/admin/achievements">Go To Achievements</a>
</div>
<div class="admin-tab">
    <a href="/admin/event">Go To Events</a>
</div>

</div>


<div style="bottom:0;">
<%- include('../layout/footer.ejs') %>
</div>