<%- include('../layout/admin_header.ejs') %>

<div>
    <a href="/portal/login-student">Student Portal</a>
</div>
<div>
    <a href="/portal/login-staff">Staff Portal</a>
</div>

<div style="bottom:0;">
<%- include('../layout/footer.ejs') %>
</div>