<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
    <h2>Note About the School</h2>
    <div class="row">
        <% noteAbtSch.forEach(function(img){ %>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/about_school/noteAbtSch/<%= img.slug %>" target="_blank">
                    <img src="/images/aboutSchoolImages/<%= img._id %>/<%= img.image %>" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p><%= img.title %></p>
                    </div>
                </a>
            </div>
        </div>
        <% }); %>
    </div>
</div>