<div class="container">
    <img src="img_lights.jpg" alt="Snow" style="width:25%">
    <img src="img_lights.jpg" alt="Snow" style="width:25%">
    <img src="img_lights.jpg" alt="Snow" style="width:25%">
    <img src="img_lights.jpg" alt="Snow" style="width:25%">
</div>