<form>
    <fieldset>
        <legend>Explore TypeB</legend>
        <div class="container">
            <button class="btn">Button</button>
            <button class="btn">Button</button>
            <button class="btn">Button</button>
            <button class="btn">Button</button>
            <button class="btn">Button</button>
            <button class="btn">Button</button>
            
        </div>
    </fieldset>
</form>
