<form>
    <fieldset>
        <legend>Explore TypeB</legend>
        <div class="container">
        <% explore.forEach(function(img){ %>
            <a href="/explore/<%= img.slug %>" target="_blank"><%= img.title %></a>
        <% }); %>
            
        </div>
    </fieldset>
</form>
