<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <span class="navbar-toggle" id="js-navbar-toggle">
                <i class="fas fa-bars"></i>
            </span>
            <a href="#" class="logo">logo</a>
            <ul class="main-nav" id="js-menu">
                <li>
                    <a href="#" class="nav-link nav-link-ltr">Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link">Learning</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link">Staff</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link">Students</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link nav-link-ltr">Parents</a>
                </li>
                <li>
                    <a href="#" class="nav-link nav-link-ltr">About Us</a>
                </li>
                <li>
                    <a href="#" class="nav-link nav-link-ltr">Contact Us</a>
                </li>

                <li>
                    <a href="#" class="nav-link nav-link-ltr">Blog</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link">Academics Info</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <script type="text/javascript">
        let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");

        navBarToggle.addEventListener("click", function () {
            mainNav.classList.toggle("active");
        });
    </script>