{{#if sessionFlash.message}}
<div id="flash-messages" class="container">
    {{#contains sessionFlash.type "info"}}
    <div class="alert alert-info">
        {{{sessionFlash.message}}}
    </div>
    {{/contains}}
    {{#contains sessionFlash.type "success"}}
    <div class="alert alert-success">
        {{{sessionFlash.message}}}
    </div>
    {{/contains}}
    {{#contains sessionFlash.type "warning"}}
    <div class="alert alert-warning">
        {{{sessionFlash.message}}}
    </div>
    {{/contains}}
    {{#contains sessionFlash.type "error"}}
    <div class="alert alert-danger">
        {{{sessionFlash.message}}}
    </div>
    {{/contains}}
</div>
{{/if}}