<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <a href="#" class="logo">logo</a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="#" class="nav-link nav-link-ltr">Home</a>
        </li>
        <li class="dropdown">
            <a href="#" class="nav-link">Learning</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="nav-link">Staff</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="nav-link">Students</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li>
            <a href="#" class="nav-link nav-link-ltr">Parents</a>
        </li>
        <li>
            <a href="#" class="nav-link nav-link-ltr">About Us</a>
        </li>
        <li>
            <a href="#" class="nav-link nav-link-ltr">Contact Us</a>
        </li>
        
        <li>
            <a href="#" class="nav-link nav-link-ltr">Blog</a>
        </li>
        <li class="dropdown">
            <a href="#" class="nav-link">Academics Info</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
    </ul>
</nav>
<script type="text/javascript">
    let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");

        navBarToggle.addEventListener("click", function () {
            mainNav.classList.toggle("active");
        });
</script>