<!DOCTYPE html>
<html>
{{> head_nav}}

    <div id="carousel">{{> carousel}}</div>
    {{!-- <div>{{> loggerImg}}</div> --}}
    <div id="about">{{> aboutThumbs}}</div>
    <div id="explore">{{> explore}}</div>
    <div id="news">{{> news}}</div>
    <div id="achievement">{{> achievement}}</div>
    {{> footer}}