*{
    /* background-color: green; */
  margin: 0;
}
body{
  padding: 0;
  /* margin: 0; */
  background-color: whitesmoke;
  /* background-color: silver; */
  /* max-width: 1400px; */
}

footer{
    /* position: fixed; */
    /* position:absolute; */
    /* bottom:0; */
    margin-top: 10px;
    color:rgb(250, 250, 250);
    background-color: rgb(0,128,128);
    margin-bottom: 0; 
}
footer > p{
  color: white;
  text-align: center;
  font-weight: bold;
}
.footer{
  text-align: center;
  display: flex;
  direction: column;
  justify-content: space-between; 
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: wheat;
}
.footer> a{
  color: white;
}
.footer1{
  padding: 10px;
}
.footer1>a{
  color: white;
  font-size: 15px;
}
.footer1>a:hover{
  color:#02175a;
}
.footer2>a{
  color: white;
  font-size: 15px;
}
.footer2>a:hover{
  color:#02175a;
}
.footer3>a{
  color: white;
  font-size: 15px;
}
.footer3>a:hover{
  color:#02175a;
}
.footer2{
  padding: 10px;
}
.footer3{
  padding: 10px;
}
.error{
  color:red;
}
.success{
  color: #1c9604;
}


/* NAVBAR */
.navbarr {
  font-size: 18px;
  background-image: linear-gradient(260deg, #11998e 10%,  #38ef7d  100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.navbarr {
  /* border-bottom: none; */
  border-bottom: 1px solid #BBBBBB;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
  text-decoration: none;
  color: rgba(20, 109, 2, 0.986);
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031D44;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
/* .extraLink{
  padding: 10%;
} */

.logo {
  display: inline-block;
  font-size: 22px;
  /* float: left; */
  margin-top: 10px;
  margin-left: 50px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}
/* .fas{
  color:black;
} .fa-bars{
  color: #031D44;
} */
.active {
  display: block;
  background-image: linear-gradient(260deg, #11998e 10%,  #38ef7d 100%);
  /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
}

@media screen and (min-width: 768px) {
  .navbarr {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 80px;
    align-items: center;
  }

  .main-nav {
    flex: 1;
    display: flex;
    margin-left: 100px;
    /* margin-right: 30px; */
    flex-direction: row;
    /* justify-content: flex-end; */
  }

  .main-nav li {
    margin: 0;
    /* margin-left: 30px; */
  }

  .logo {
    margin-top: 0;
    float: left;
    /* margin-right: 40%; */
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 20px 0px;
  margin: 0px 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
  /* background-color: #c16ecf; */
  background-image: linear-gradient(260deg, #11998e 10%,  #38ef7d  100%);

}


/* SLIDESHOW */

#carousel{
  margin: 0;
  padding: 0;
}

.mySlides > img {
  padding: 0;
  width: 100%;
  height: 600px;
}

/* Slideshow container */
.slideshow-container {
  margin-left:10px;
  margin-right: 10px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
  height: 600px;
}

/* Caption text */
.text {
  color: #cf1111;
  font-size: 25px;
  padding: 8px 10px;
  position: absolute;
  bottom: 4px;
  width: 97%;
  text-align: center;
}
.Ctitle {
  color: #7bf08f;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  margin-top: 200px;
  bottom: 25px;
  width: 97%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  background-color: #11998e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.activeDot {
  background-color: red;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* thumbs */
.thumbs{
  padding: 10px;
  /* max-width: 1400px; */
  border: 1px solid blanchedalmond;
  background-image: url(../images/std-gist3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.thumbsRow{
  margin: 40px auto 0 auto;
}
.thumbnails{
  padding: 15px;
  flex: 1;
  flex-basis: 20%;
  background-color: rgb(244, 245, 243);
  margin: 10px 0px 10px 0px;
  opacity: 0.6;
}
.thumbnails:hover{
  opacity: 1;
}
h4{
  text-decoration: none;

}
.caption{
  text-decoration: none;
  opacity: 1;
}

@media screen and (min-width: 768px) {
/* @media (min-width: 900px){ */
  .thumbs{
    margin-top: 0;
    justify-content: center;
    /* padding: 10px; */
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgb(13, 100, 2);
    border-top: none;
    border-bottom: none;
  }
  .thumbsRow{
  display:flex;
  justify-content: space-between;
  }
.thumbnails{
  margin: 0px 10px 0px 10px;
  padding: 0;
  margin-bottom: 0;
}
.caption{
  text-decoration: none;
}
}


/* Explore */
legend{
  color: #11998e;
  font-size: 30px;
  margin: 0;
  padding: 0;
}
fieldset{
  margin-top: 3%;
  min-height: 150px;
  background-image: url(../images/sch-library.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.exploreElement{
  border-radius: 20px;
  border: 2px solid #9CECFB;
  margin-top:10px;
  background-color: #e3fcec;
  opacity: 0.6;
  text-decoration: none;
  color: #031D44; 
}
.exploreElement:hover{
  opacity: 1;
}

@media screen and (min-width: 768px) {
  
  legend{
  color: #11998e;
  font-size: 70px;
  }
  .explore{
  display: flex;
  justify-content: space-between;
  }
  .exploreheader{
  display: flex;
  justify-content: center;
}
.exploreElement{
  border-radius: 25px;
  border: 2px solid #9CECFB;
  padding: 10px; 
}
fieldset{
  margin-top: 3%;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 150px;
  background-image: url(../images/sch-library.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* height: 300px; */

  }
  
}

/* news */
.media-container{
  margin-top: 10px;
  background-color: whitesmoke;
  /* background-color: wheat; */
  color: #031D44;
  margin-left: 10px;
  margin-right: 10px;
  /* height: 700px;  */
}
.media{
  display: flex;
  text-decoration: none;
  direction: column;
}
.media-left{
  flex: 2;
}
.media-right{
  flex: 1;
  display: flex;
  justify-content: center ;
  background-image: url(../images/std-reading.jpg);
  border-radius: 50px 50px 50px 50px;
  /* border-top-left-radius: 50px; */
  /* border-top-right-radius: 50px; */
  /* border-bottom-left-radius: 20px; */
  /* border-bottom-right-radius: 20px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.media-heading:hover{
  color: #11998e;
}

.media-rest{
  margin-left: 70px;
}

.media-first{
  margin-left: 10px;
}

.media-left >p:hover{
  color: #08851d;
}
/* p{
  color: #13cebe;
} */

.media-right > h1, a {
  text-decoration: none;
  margin-top: 200px;
  color: #08851d;
}

.media-right >h1,a:hover{
  color: #11998e;

}


@media screen and (min-width: 768px) {

  /* .media-container{
  margin-left: 10px;
  display: flex;
  justify-self: center;
  } */
  .media-rest{
  display: flex;
  color: #08851d;
  /* margin-right: 10px; */
  /* float: left; */
}
.media-rest-left{
  display:inline-block;
  margin-right: 50px;
  float: left;
}
.media-rest-right{
  margin-left: 50px;
  display:inline-block;
  float: right ;
}

}

/* Achievement */
.container-achievement{
  /* background-color: whitesmoke; */
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  max-width: 1400px;
  margin-left: 10px;
  margin-right: 10px;
  /* background-image: url(../images/std-reading2.jpg); */
  /* border: 1px solid blanchedalmond; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.achieve-two{
    text-align: center;
}


.achieve-images{
  padding: 15px;
  flex: 1;
  flex-basis: 20%;
  background-color: rgb(244, 245, 243);
  margin: 10px 0px 10px 0px;
  opacity: 0.6;
}
.achieve-images:hover{
  opacity: 1;
}

@media screen and (min-width: 768px) {
.container-achievement{
    /* margin-top: 10px; */
    justify-content: center;
    /* padding: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    /* border: 1px solid rgb(13, 100, 2); */
    /* border-top: none; */
    /* border-bottom: none; */

}
.achieve-two{
  display:flex;
  justify-content: space-between;
}
.achieve-images{
  margin: 0px 10px 0px 10px;
  padding: 0;
  margin-bottom: 0;
}

}

/* tables */
table.gridtable {
        font-family: verdana, arial, sans-serif;
        font-size: 13px;
        margin-left: 20px;
        margin-right: 20px;
        color: #08851d;
        border-width: 1px;
        border-color: #0f0f0f;
        border-collapse: collapse;
    }

    table.gridtable th {
        border-width: 3px;
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px;
        width: 10%;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }

    table.gridtable td {
        color:#000000 ;
        font-weight: 900;
        border-width: 1px;
        padding: 20px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
    table.gridtable a {
      color: #000000;
    }
    table.gridtable a:hover {
        font-weight: bold;
        color:#2c0101;      
    }

  /* others */
  form {
    /* display: flex; */
  position: relative;

  width  : 740px;
  /* height : 60px; */
  margin : 0 auto;

  /* background: rgb(255, 240, 240) ; */
  background: #a7eee8 ;

}
/* @media screen and (min-width: 768px) {
  form {
    position: relative;

  width  : 740px;
  margin : 0 auto;

  background: #a7eee8 ;
  }
} */
  
input, textarea {
  font    : .9em/1.5em "handwriting", sans-serif;
  border: 1px dotted #999;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;

  background: none;
}
input {
    height: 2.5em; /* for IE */
    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
}
input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
}
textarea {
  display : block;

  padding : 10px;
  /* margin  : 0px 0 0 10px; */
  width   : 340px;
  height  : 260px;

  resize  : none;
  overflow: auto;
}
button {
  /* position     : absolute; */
  /* left         : 60px; */
  margin-top:10px;
  /* top          : 480px; */

  padding      : 5px;

  font         : bold .6em sans-serif;
  border       : 2px solid #333;
  border-radius: 5px;
  background   : none;

  cursor       : pointer;

-webkit-transform: rotate(-1.5deg);
   -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
     -o-transform: rotate(-1.5deg);
        transform: rotate(-1.5deg);
}

/* button:after {
  content: " >>>";
} */

button:hover,
button:focus {
  outline   : none;
  background: #000;
  color   : #FFF;
}
label{
  font-weight: bold;
  font-size: 20px;
}
.back-to-pages> a{
  font-weight: bold;
  font-size: 18px;
  color:#000000;
}  
.back-to-pages> a:hover{
  color: #235c025e;
}
.add-to-pages> a{
  font-weight: bold;
  font-size: 20px;
  color:#02175a;
}
.add-to-pages> a:hover{
  color: #235c02c7;
}
.container-bar{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-bar{
  float:left;
  width:90%;
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(244, 250, 241);
  /* background-color: whitesmoke; */

}
.right-bar{
  float: right;
  width:20%;
  border-radius: 10px 0 0px 10px;
  margin-bottom: 0;
  margin-right: 10px;
  color: wheat;
  background-color: rgb(0,128,128);
  /* border: 2px red solid */
  /* background-color: #11998e; */
}
.content{
  margin-left:20px;
  color: #02175a;
  font-weight: bold;
  font-size: 20px;
}
.content-title{
  margin-left: 20px;
}
.content-title > h2{
  font-weight: bold;
  font-size: 30px;
  margin-left:10px;
}
.content-title > p{
  margin-left:20px;
  font-size: 15px;
  color: #000000;
}
.content-image{
  /* border: 1px red solid; */
  margin-top:15px;
  width: 30%;
  margin-left: 10%;
}
.content{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* admin-pages */
.admin-pages{
  margin-left:5%;
}
.admin-addpages{
  margin-left:5%;
}
.admin-editpages{
  margin-left:5%;
}
.tab{
  
}

/* event */
#year{
  margin-left: 40px;
  color: #11998e;
  font-size: 40px;
  font-weight: bold;
  padding: 0;
  text-align: center;
}
.event-lists{
  color:#02175a;
  margin: 20px auto auto 30px;
  font-size: 20px;
}
.event-list{
  display: flex;
  flex-direction: row;
  margin: 5px auto 5px auto;
}
#seasondate{
  margin-right: 30px;
  text-align: center;
}

.admin-tabs{
  height: 20px;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
}
.admin-tab{
  /* background-color: #1c9604; */

}
.admin-tab:hover{
  color: #0a43fc;

}
